.center {
    position: absolute; /* Position the element absolutely within its parent */
    top: 10%; /* Position the element 50% down from the top of its parent */
    left: 10%; /* Position the element 50% in from the left of its parent */
    right: 10%; /* Position the element 50% in from the left of its parent */
    bottom: 10%;
    max-height: 100vh; 
}